<div #about class="container">
  <div class="about-container">
    <div class="about-card">
      <div class="about-headers">
        <h1 class="top-header">Hello!</h1>
        <h2 class="bottom-header">I'm Ben.</h2>
      </div>
      <div
        class="about-content"
        [innerHTML]="currentSection"
        [class.fade-out]="isFadingOut()">
      </div>

      Learn more about me here:
      <div class="about-button-container">
        
        @for (section of sections; track section.name; let i=$index)
        {
          <div
            class="about-button"
            [ngClass]="{ 'active': section.name === currentSectionName() }"
            (click)="changeSection(i)"
          >
            {{ section.name }}
          </div>
        }
      </div>
    </div>
  </div>
  <div class="canvas-container">
    @if (isLoading()) {
      <div class="progress-bar-container">
        <label> Loading... ({{ loadingProgress() | number:'1.0-0' }}%)</label>
        <progress id="progress-bar" [value]="loadingProgress()" max="100"></progress>
      </div>
    }
    <canvas class="fly-in" #canvas></canvas>
  </div>
</div>