.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  color: var(--color-text);
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;

}

.about-card {
  width: 80%;
  margin-left: 25%;
  height: auto;
}

.about-card .about-content {
  height: 22rem; 
  overflow-x: hidden;
  margin-top: 1rem;
  transition: opacity 0.3s ease;
  opacity: 1;
  will-change: opacity;
}

.about-content::-webkit-scrollbar {
  width: 8px;
}

.about-content::-webkit-scrollbar-track {
  background: transparent;
}

.about-content::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox */
.about-content {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

.about-headers .top-header {
  font-size: 5rem;
}

.about-headers .bottom-header {
  color: var(--color-secondary);
  font-size: 6rem;
}

.about-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  bottom: 0%;
}

.about-button {
  color: var(--color-secondary);
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--color-accent);
  border-radius: 3rem;
  margin-top: 2rem;
  transform: background 0.5s ease
}

.about-button.active {
  color: var(--color-text);
  background: var(--color-tertiary-highlight);
}

.canvas-container {
  display: flex;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.progress-bar-container {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  border-radius: 8px;
  z-index: 10;
  color: var(--color-text);
}

.progress-bar-container label {
  font-size: 1.5rem;

}

progress::-webkit-progress-value {
  background-color: #00fff9; /* fill color */
}

progress {
  width: 200px;
  height: 12px;
  margin: 1rem;
  border-radius: 6px;
  overflow: hidden;
  appearance: none;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
}




