.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.experience-card {
  width: 100vh;
  background: linear-gradient(to left, #001737, #243456);
  border-radius: 25px;
  border: 1px solid #f7cd83;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  font-size: 24px;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
  padding: 2rem;
}

.from-left {
    transform: translateX(-100vw);
}

.from-right {
    transform: translateX(100vw);
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
}

.experience-photo {
    background-color: white;
    height: 128px;
    width: 128px;
    margin-right: 2rem;
    border: 2px solid white;
}

.experience-title {
    font-size: 30px;
    padding-bottom: 0.25rem;
}

.experience-title {
    display: flex;
    flex-direction: column;
}

.experience-text {
    margin-bottom: 1rem;
}

.experience-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1rem;
}

.experience-date {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-self: flex-start;
}

.experience-column {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: white;
}

.experience-skills {
    margin-top: 1rem;
    font-size: 27px;
}

ul {
  padding-left: 2rem;
}