<div class=container>
  <div class="slider-container">
      @for (project of projects; track project.title; let i = $index)
      {
          <div class="slider-item"
            [ngClass]="{
              'selected':i===selectedIndex,
              'prev':i===selectedIndex - 1,
              'next':i===selectedIndex + 1,
              'hideLeft':i <selectedIndex - 1,
              'hideRight':i > selectedIndex + 1,
            }"
          >
            <img 
            [src]="project.image" 
            alt="Project Photo" 
            class="slider-img"
            (panright)="showPrev(i)"
            (panleft)="showNext(i)"
            >
          </div>
      }
  </div>
</div>

