  <div class="container" #container>
    <div #card class="experience-card from-left">
        <img src="assets/db.png" class="experience-photo" alt="Photo" />
        <div class="experience-column">
            <div class="experience-content">
                <div class="experience-title">
                    <strong class="experience-title">Technology & Data Intern</strong>
                    Deutsche Bank | Internship
                </div>
                <div class="experience-date">
                    <em>June 2025 - Present</em>
                    <span>Cary, NC</span>
                </div>
            </div>
            <span class="experience-text">
                <ul>
                    <li>Incoming TDI Investmen Banking intern at Deutsche Bank for Summer '25.</li>
                </ul>
            </span>
            <span class="experience-skills"> <strong><i class="fa-solid fa-bolt"></i> Java, JavaSpring, FastAPI </strong></span>
        </div>
    </div>
    <div class="timeline-dot" #timelineDot></div>
    <div #card class="experience-card from-right">
      <img src="assets/unc.jpg" class="experience-photo" alt="Photo" />
      <div class="experience-column">
          <div class="experience-content">
              <div class="experience-title">
                  <strong class="experience-title">Undergraduate Research Assistant</strong>
                  Experimental Engineer Lab (EEL) | Hybrid
              </div>
              <div class="experience-date">
                  <em>May 2024 - Present</em>
                  <span>Chapel Hill, NC</span>
              </div>
          </div>
          <span class="experience-text">                        
              <ul>
                  <li>Under the direction of Dr. Roni Sengupta, developing an image processing pipeline to optimize COLMAP and photogrammetry software for the purpose of creating a photo-realistic model 3D of the input images. Researching NeRFStudio and Gaussian Splatting for latest-techniques.</li>           
              </ul>
          </span>
          <span class="experience-skills"> <strong><i class="fa-solid fa-bolt"></i> Python, CUDA, Hierarchical Splatting, Bash, Unity, C#, HLSL</strong></span>
      </div>
    </div>
    <div class="timeline-dot" #timelineDot></div>
    <div #card class="experience-card from-left">
      <img src="assets/corvid.png" class="experience-photo" alt="Photo" />
      <div class="experience-column">
          <div class="experience-content">
              <div class="experience-title">
                  <strong class="experience-title">Extended Reality Intern</strong>
                  Corvid Technologies | Internship
              </div>
              <div class="experience-date">
                  <em>May 2024 - August 2024</em>
                  <span>Mooresville, NC</span>
              </div>
          </div>
          <span class="experience-text">                        
              <ul>
                  <li>Created a Mixed Reality application using Unreal Engine and C++ for the Hololens 2 to visualize simulated
                      physics of internal detonations inside of and around a stiffened steel structure.</li>     
              </ul>
          </span>
          <span class="experience-skills"> <strong><i class="fa-solid fa-bolt"></i> Python, C++, VR/AR, Unreal Engine</strong></span>
      </div>
    </div>
    <div class="timeline-dot" #timelineDot></div>
    <div #card class="experience-card from-right">
      <img src="assets/unc-hockey.jpg" class="experience-photo" alt="Photo" />
      <div class="experience-column">
          <div class="experience-content">
              <div class="experience-title">
                  <strong class="experience-title">President of Hockey Operations</strong>
                  Tarheel Hockey | Full-time
              </div>
              <div class="experience-date">
                  <em>May 2024 - May 2025</em>
                  <span>Chapel Hill, NC</span>
              </div>
          </div>
          <span class="experience-text">                        
              <ul>
                  <li> Work directly with Student Government and UNC Club Sports to secure program funding. Coordinate hotels, ice time, transportation, and negotiate finances.</li>
                  <li> Organized volunteering events, themes for game days, and on-campus fundraising events. Helped raise over $30, 000 for our program across events and sponsorships.</li>       
              </ul>
          </span>
          <span class="experience-skills"> <strong><i class="fa-solid fa-bolt"></i> Fundraising, Financial Planning, Leadership</strong></span>
      </div>
    </div>
    <div class="timeline-dot" #timelineDot></div>
    <div class="container-endpoint"></div>
  </div>
