<div class="container" >
  <div class="experience-container">
    <div class="map-wrapper">
      <div #mapContainer class="map-container"></div>
    </div>

    <div class="panels-wrapper" [scrollTrapTo]="panelScroller">
      <div class="timeline">
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
        <div class="thick-tick"></div>
        <div class="tick"></div>
      </div>
      <div #panelScroller class="panels-container" >
      @for (experience of experiences; track experience.position; let i = $index) {

        <section class="panel" [attr.data-index]="i" [style.--icon-url]="'url(' + experience.icon + ')'">
          <div class="panel-icon"></div>
          <div class="panel-interior">
            <div class="panel-header">
              <h3 class="panel-title">{{ experience.position }}</h3>
              <span class="panel-date">{{ experience.date }}</span>
            </div>
            <p class="panel-company">
              <strong>{{ experience.company }}</strong>
              <span class="panel-location">— {{ experience.location }}</span>
            </p>
            <p class="panel-description">{{ experience.description }}</p>
          </div>
        </section>
      }

      </div>
    </div>

  </div>
</div>
