<header class="top-bar">
  <a class='logo-link' routerLink="/">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </a>
  <div class="nav-container">
    <app-navigation></app-navigation>
  </div>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="bottom-bar">
  <div class = "socials">
    <a href="tel:+19846898217"><i class="fas fa-phone"></i>
      <span class = "bottom-text">986-689-8217 </span>
    </a> 
    <a href="mailto:bkedwards4@gmail.com"><i class="fas fa-envelope"></i>    
      <span class = "bottom-text"> bkedwards4&#64;gmail.com</span>
    </a>
  </div>
  <div class = "center-logo"> 
      <a class='logo-link' routerLink="/">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </a>
  </div>
  <div class="socials">
    <a href="https://github.com/bkedwards" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://twitter.com/bkedwards04" target="_blank" aria-label="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</footer>