<div class="container">
    <div class="left-column">
        <div class="header">
            <div class="title">
                <span class="resume-title">Resume</span>

                <div class="socials-grid">
                    <div class="social-column">
                    <a href="tel:+19846898217">
                        <i class="fas fa-phone"></i>
                        <span class="social-text">984-689-8217</span>
                    </a>
                    <a href="mailto:bkedwards4@gmail.com">
                        <i class="fas fa-envelope"></i>
                        <span class="social-text">bkedwards4&#64;gmail.com</span>
                    </a>
                    </div>

                    <div class="social-column">
                    <a href="https://github.com/bkedwards" target="_blank">
                        <i class="fab fa-github"></i>
                        <span class="social-text">github.com/bkedwards</span>
                    </a>
                    <a href="https://linkedin.com/in/bkedwards4" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span class="social-text">linkedin.com/in/bkedwards4</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" #sectionTitle >  
            <span class="section-title"> <i class="fa-solid fa-graduation-cap"></i> Education </span>
            <hr class="divider" />
            <div class="content">
            <div class="content-text">
                <strong> University of North Carolina At Chapel Hill</strong>
                Computer Science and Mathematics B.S.
                <ul>
                    <li>GPA: 3.985</li>
                    <li>Clubs/Activites: Ice Hockey, CSSG, Sustainable Business Club </li>
                </ul>
            </div>
            <div class="date-text">
                <span>Chapel Hill</span>
                <em>August 2022 - May 2026</em>
            </div>
            </div>
        </div>
        <div class="section" #sectionTitle >
            <span class="section-title"> <i class="fa-solid fa-briefcase"></i> Experience </span>
            <hr class="divider" />
            <div class="content-section">
                <div class="content">
                    <div class="content-text">
                        <div class="content-title">
                            <strong> Technology and Data Intern </strong>
                            <div class="date-text">
                                <em>June 2025 - August 2025</em>
                            </div>
                        </div>
                        Deutsche Bank
                        <ul>
                            <li>Incoming TDI Investmen Banking intern at Deutsche Bank for Summer '25.</li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <div class="content-text">
                        <div class="content-title">
                            <strong> Extended Reality Intern </strong>
                            <div class="date-text">
                                <em>May 2024 - August 2024</em>
                            </div>
                        </div>
                        Corvid Technologies
                        <ul>
                            <li>Created a Mixed Reality application using Unreal Engine and C++ for the Hololens 2 to visualize simulated
                                physics of internal detonations inside of and around a stiffened steel structure.</li>
                            <li>Calculated warhead fragmentation, penetration, and blast pressure contours, accounting for air drag and
                                fragment obliquity, and created visualization methods controlled by the user.</li>            
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <div class="content-text">
                        <div class="content-title">
                            <strong> Undergraduate Research Assistant </strong>
                            <div class="date-text">
                                <em>May 2024 - Present</em>
                            </div>
                        </div>
                        Graphics and Virtual Reality Group
                        <ul>
                            <li>Under the direction of Dr. Roni Sengupta, developing an image processing pipeline to optimize COLMAP and photogrammetry software for the purpose of creating a photo-realistic model 3D of the input images. Researching NeRFStudio and Gaussian Splatting for latest-techniques.</li>           
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <div class="content-text">
                        <div class="content-title">
                            <strong> President & Fundraising Chair </strong>
                            <div class="date-text">
                                <em>August 2022-Present</em>
                            </div>
                        </div>
                        UNC Ice Hockey
                        <ul>
                            <li> Work directly with Student Government and UNC Club Sports to secure program funding. Coordinate hotels, ice time, transportation, and negotiate finances.</li>
                            <li> Organized volunteering events, themes for game days, and on-campus fundraising events. Helped raise over $30, 000 for our program across events and sponsorships.</li>
                            <li> Facilitated hiring process of new head coach. Conducted interviews with candidates, and hired Steven Rice, a former NHL player.</li>            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" #sectionTitle>
            <span class="section-title"> <i class="fa-solid fa-note-sticky"></i> Projects </span>
            <hr class="divider" />
            <div class="content-section">
            <div class="content">
                <div class="content-text">
                    <div class="content-title">
                        <span><strong> Semantic Trading Bot </strong> | <em> Python, ALPACA, Lumibot </em></span>
                        <div class="date-text">
                            <em>July 2024</em>
                        </div>
                    </div>
                    <ul>
                        <li>Developed a trading bot that looks at sentiment of live news events to make appropriate trades. Used ALPACA and Lumibot libraries.</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content-text">
                    <div class="content-title">
                        <span><strong> Stock Market Prediction Model  </strong> | <em> Python, Statsmodels </em></span>
                        <div class="date-text">
                            <em>January 2024</em>
                        </div>
                    </div>
                    <ul>
                        <li>Trained an ARIMA time-series model to predict future S&P 500 stock prices using historical data. Pre-processed and analyzed stock market data, fitting the model to closing prices to forecast 30-day trends.</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content-text">
                    <div class="content-title">
                        <span><strong> Real-time American Sign Language Detector </strong> | <em> Python, OpenCV, MediaPipe</em></span>
                        <div class="date-text">
                            <em>March 2024</em>
                        </div>
                    </div>
                    <ul>
                        <li>Created a real-time detector for letters of the ASL alphabet. Used OpenCV to capture and process data, MediaPipe to draw hand landmarks, and a Random Forest Classifier to train a model to predict hand gestures with 99.2% accuracy on test set.</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="section" #sectionTitle> 
            <span class="section-title"> <i class="fa-solid fa-list-check"></i> Skills </span>
            <hr class="divider" />
            <div class = content-text>
            <ul>
                <li>
                    <strong>Languages: </strong> C++, C, C#, Python, SQL, Java, Javascript, Typescript, HTML, CSS
                </li>
                <li>
                    <strong>Developer Tools: </strong> Git, CMake, VS Code, IntelliJ, Vim, PyTorch, OpenCV, TensorFlow, Angular, FastAPI, PostgreSQL
                </li>
                <li>
                    <strong>Coursework: </strong> Data Structures, Computer Vision, Machine Learning, Deep Learning, 3D Graphics, Software Engineering
                </li>
                <li>
                    <strong>Other: </strong> Research, Teamwork, Organization, Finance
                </li>
            </ul>
            </div>
        </div>
    </div>
<div class = "right-column">
    <img src="assets/headshot.jpeg" class="photo" alt="Photo" />
    <div class="vertical-timeline" #timeline>
      <div class="timeline-dot"></div>
    </div>
</div>
</div>

<!--    <img src="assets/headshot.jpeg" class="photo" alt="Photo" />-->