.nav {
  display: flex;
  gap: 5rem;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  transition: color 0.3s;
}

button:hover,
button.active {
  color: #f7cd83;
}