/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-secondary: #00ffff;
  --color-tertiary: #008080;
  --color-tertiary-highlight: #00AAAA;
  --color-accent: #e3fffe;
  --color-primary: #333333;
  --color-primary-highlight: #8e8e8e;

  /* Optional: text and background variants */
  --color-text: white;
  --color-bg: #121212;
}

/* Base Styles */
html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: auto;
}

body {
  background-color: var(--color-bg);
  font-family: 'Kdam Thmor Pro', sans-serif;
}

app-root {
  width: 100%;
}
