<div class="navigation-header">
  <a (click)="scrollToSection('about')">About</a>
  <a (click)="scrollToSection('work')">Work</a>
  <a (click)="scrollToSection('projects')">Projects</a>
  <a (click)="scrollToSection('skills')">Skills</a>
  <a (click)="scrollToSection('contact')">Contact</a>
</div>

<section id="about" #about #sectionRef class="page-section">
<app-about></app-about>
</section>
<section id="work" #sectionRef class="page-section">
<app-work></app-work>
</section>
<section id="projects" #sectionRef class="page-section">
<app-projects></app-projects>
</section>
<section id="skills" #sectionRef class="page-section">
<app-skills></app-skills>
</section>
<section id="contact" #sectionRef class="page-section">
<app-contact></app-contact>
</section>
