* {
      overflow-x: hidden;
}

.navigation-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  margin-left: 0.5rem;
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
  font-size: 1.5rem;
  border: 1px solid var(--color-text-dark);
}

.navigation-header a {
  color: var(--color-text-dark);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.navigation-header a:hover {
  color: #00fff9; /* or your accent color */
}